* { margin:0; padding:0; box-sizing:border-box; }
body{
	background:url('images/background.jpg') no-repeat #525a6a;
	background-size: cover; 
	color:#fff;
	font-family:helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	line-height:1.62em;
}
section{
	margin:200px 0 0 100px;
}
hr {
	border:1px #fd6e6e solid;
	width:80px;
}
p { margin:10px 0 10px 0; }

#stripes{
	background:url('images/stripes.png') repeat-x;
	height:13px;
	width:100%;
	position: absolute;
	top: 0px;
	left: 0px;
}



//Backgrounds can have multiple images, and images can repeat-x or repeat-y. This means they can repeat along the x-axis (horizontally) or y-axis (vertically) of your browser.
The zip file contains the final comp image. Use a design software tool to determine the hexadecimal values for the background-color and line-break.
Images can wrap around anchor tags to be clickable
