* { margin:0; padding:0; box-sizing:border-box; }
body{
	background:url('images/background.jpg') no-repeat #525a6a;
	background-size: cover; 
	color:#fff;
	font-family:helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
	line-height:1.62em;
}
section{
	margin:300px 0 0 300px;
}
hr {
	border:1px #fd6e6e solid;
	width:80px;
}
p { margin:10px 0 10px 0; }

#stripes{
	background:url('images/stripes.png') repeat-x;
	height:13px;
	width:100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

//for short code, you don't need to put commas between the attributes- for 
example, background and border
//for margin
